<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}{% endblock %}

</head>
<body>
<header id="main-navigation">
    <h1><a href="{% url 'starting-page' %}">Jaskirat's Blog</a></h1>
    <nav class="d-flex justify-content-end">
        <a href="{% url 'posts-page' %}" style="margin:1.5rem">All Posts</a>
        <a href="{% url 'read-later' %}" style="margin:1.5rem">Read Later</a>
    </nav>
</header>

{% block content %}
{% endblock %}
</body>
</html>